%article.cart.items.index
  .row
    .col-md-12
      .cart-clean
        = link_to "Clean Cart", clean_carts_path, method: :delete, data: { confirm: "Are you sure?" }, class: "pull-right"
      %h2 Cart
      %table.table.table-bordered
        %thead
          %tr
            %th Item Photo
            %th Item Name
            %th Price
            %th Option
        %tbody
          - current_cart.cart_items.each do |item|
            %tr
              %td= product_photo(item.product.default_photo)
              %td
                = link_to item.product.title, item.product
              %td= item.product.price
              %td.clean-icon{style: "width: 7%"}
                = link_to cart_item_path(current_cart, item), method: :delete do
                  %span
                    %i.fa.fa-trash
      %br
        .cart.total.clearfix
          %p
            %p 
              Total 
              %span#cart_index_price= cart_total_price(current_cart)
              NTD              
        %hr
          .cart.checkout.clearfix
            = link_to "Checkout", checkout_carts_path, method: :post, class: "btn btn-danger btn-lg pull-right"
