.row
  .col-md-12
    %h2 購物明細
    %table.table.table-bordered
      %thead
        %tr
          %th{:width => "80%"} 商品明細
          %th 單價
      %tbody
        - current_cart.items.each do |product|
          %tr
            %td
              = link_to(product.title, product_path(product))
            %td
              = product.price
    .total.clearfix
      %span.pull-right
        %span
          總計 #{render_cart_total_price(current_cart)} NTD
    %hr
      %h2 訂單資訊
      .order-form
        = simple_form_for @order do |f|
          = f.simple_fields_for :info do |c|
            %legend 訂購人
            .form-group.col-lg-6
              = c.input :billing_name
            .form-group.col-lg-6
              = c.input :billing_address
            %legend 收貨人
            .form-group.col-lg-6
              = c.input :shipping_name
            .form-group.col-lg-6
              = c.input :shipping_address
          .checkout
            = f.submit "生成訂單", :class => "btn btn-primary btn-lg btn-danger pull-right", :disable_with => 'Submiting...'