%article.admin_products_index
  %h2 Product List
  .new_button.pull-right
    = link_to "Add Product", new_admin_product_path, class: "btn btn-primary btn-sm"
  .section.products_index
    %table.table.table-bordered
      %thead
        %tr
          %th No.
          %th.pictures Product Picture
          %th Name
          %th Price
          %th.options Options
      %tbody
        - @products.each do |product|
          %tr
            %td
              = product.id
            %td
              = product_photo(product.default_photo)
            %td
              = product.title
            %td
              = product.price
            %td
              = link_to "Edit", edit_admin_product_path(product)
